<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><%= title %> - Mixtape Dating</title>
  </head>
  <body>
    <a href="/">Mixtape Dating</a>
    <h1><%= title %></h1>
    <ol id="playlist">
      <% for(var i=0; i<items.length; i++){ %>
      <li>
        <a target="_blank" href="<%= items[i].link %>"><%= items[i].title %></a>
      </li>
      <% } %>
    </ol>
    <a href="mailto:<%= email %>"><%= email %></a>
  </body>
</html>

<!--
  Thanks:
  https://stackoverflow.com/questions/12564999/onclick-page-go-to-homepage-without-any-absolute-path
  https://stackoverflow.com/questions/14132122/open-url-in-new-window-with-javascript
-->